@media screen and (max-width: 600px) {

/*--------------------------------------------------------------------------------------------- ALL ------*/
html{
   @import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');
    width: auto;
}
    

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #6B6466;
    padding: 0;
    margin: 0;
}
    
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #000000;
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

h3{
    font-family: 'Playfair+Display', serif;
    font-size: 1.5em;
    color: #6B6466;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}
    
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #000000;
    padding: 0;
    margin: 0;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #000000;
    padding: 0;
    margin: 0;
}    
    
h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
} 
    
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    color: #000000;
    padding: 0;
    margin: 0;
}
    


    
/*----------------------------------------------------------------------------------------- HEADER -------*/

header img {
    width: 95%;
    height: auto;
    align-content: center;
    padding: 10px;
        
}

header{
    background-color: #000000;
    font-family: 'Avenir', sans-serif;
    width: 100%;
    overflow: hidden;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #323232;
    border: 1px solid #000000;
    position: relative;
    text-align: center;
    text-decoration: none;
}

header li a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

header li {
    text-align: center;
    border-bottom: 1px solid #000000;
}

header li:last-child {
    border-bottom: none;
}

header li a.active {
    background-color: #000000;
    color: white;
}

header li a:hover:not(.active) {
    background-color:#000000;
    color: white;
}

    
    
    
/*----------------------------------------------------------------------------------------- FOOTER -------*/
footer {
    background-color: #000000;
    font-family: 'Avenir', sans-serif;
    width: 100%;
    overflow: hidden;
}
 


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #323232;
    border: 1px solid #000000;
    position: relative;
    text-align: center;
    text-decoration: none;
}

footer li a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

footer li {
    text-align: center;
    border-bottom: 1px solid #000000;
}

footer li:last-child {
    border-bottom: none;
}

footer li a.active {
    background-color: #000000;
    color: white;
}

footer li a:hover:not(.active) {
    background-color:#000000;
    color: white;
}
 
    
    
 /*---------------------------------------------------------------------------------------- HOME PAGE -----*/
.container .maincolumns{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    height: 200px;
    overflow: hidden
}

.container img{
    opacity: .5;
}

.centered {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #6B6466;
    font-size: 22px;
    width: 80%;
    line-height: 22px;
}
    
.maincolumns .column1 p, .maincolumns .column1 ul li a{
    color: #6B6466;
    font-family: 'Avenir', sans-serif;
    padding: 10px;
    padding-top: 5%;
    font-size: 1.3em;
    margin: 0;
    text-align: left;
    font-weight: 400;
    line-height: 1.4;
    
}
.maincolumns h6{
    color: #6B6466;
    font-family: 'Avenir', sans-serif;
    padding: 10px;
    padding-top: 5%;
    font-size: 2em;
    margin: 0;
    text-align: left;
    font-weight: 700;
    line-height: 1.4;
    
}
    
.maincolumns img{
    height: 200px;
    overflow: hidden
}

    
       
/*--------------------------------------------------------------------------------------TEMPLES-----------*/


.centered1, .centered2, .centered3, .centered4{
    position: absolute;
    text-align: left;
    top: 75%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #6B6466;
    font-size: 6vw;
    width: 80%;
    line-height: 7vw;
    padding-left: 20px; 
}
  
    
 /*------------------------------------------------------------------------------------TEMPLE PAGES-----*/
    
.templepage{
    margin-top: 30px;
}  
    
.templepage img{
    opacity: 0.5;
}   
    
.overlap{
    position: absolute;
    text-align: left;
    top: 35%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #6B6466;
    font-size: 6vw;
    width: 80%;
    line-height: 7vw;
    padding-left: 20px; 
}

.overlap2{
    position: absolute;
    text-align: left;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #6B6466;
    font-size: 2vw;
    width: 80%;
    line-height: 2.5vw;
    padding-left: 20px; 
}
    
    
    
    
    
    
    
    
    
/*---------------------------------------------------------------------------------------------CONTACT----*/
 
 
    
    
    
.map{
    margin: 20px;
    margin-left: 5%;
    width: 40%;
    overflow: hidden;
    float: left;
}    
     
.contactform{
    margin: 20px;    
    margin-left: 50%;
    margin-right: 5%;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
}    
    
.contactinfo {
    text-align: center;
    font-size: 1em;
}
       
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:     #6B6466;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#4CAF99;
}



    
  
 
    
    
  /*---------------------------------------------------------------SERVICES----------*/
    
.services1{
    position: absolute;
    text-align: left;
    top: 75%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #6B6466;
    font-size: 6vw;
    width: 80%;
    line-height: 7vw;
    padding-left: 20px; 
}
    
  /*---------------------------------------------------------------MISSIONARY----------*/

    .missionaryleft{
        width: 45%;
        float: left;
        margin: 5% 0px 0px 30px;
        
    }
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/*-------------------------------------------------------------------------------------------- PROCESS ---*/
.processdetails div {
    padding-top: 20px;
}    
    
.process2 h3, .process3 h3, .process4 h3, .process5 h3, .process6 h3 {
    text-transform:uppercase;
    padding-top: 80px;
    padding-bottom: 0;
    margin: 0; 
    font-size: 2em;
    margin-top: 0px;
}
    
.process2 p, .process3 p, .process4 p, .process5 p, .process6 p {
    position: relative;
    text-align: center;
    color: #FAD239;
    font-size: .7em;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.4em;
    text-transform:capitalize;
    padding-top: 10px;
    margin: 0; 
}
    
.top {
    position: absolute;
    text-align: center;
    top: 500px;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #000000;
    font-size: 6vw;
    width: 80%;
    line-height: 8vw;
}
    
.top2 {
    position: absolute;
    text-align: center;
    font-size: 2.5vw;
    width: 80%;
    top: 600px;
    left: 27.5%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir', sans-serif;
    color: #9B870C;
    font-weight: 100;
    margin-top: 20px;
}

.process1 img {
    width: 100%;
/*
    padding: 10px;
    padding-top: 20px;
*/
}
    
.process2 {
    height: 300px;
}
    
.process3 {
    height: 300px;
}
    
.process4 {
    height: 300px;
}
    
.process5 {
    height: 300px;
}
    
.process6 {
    height: 300px;
}

.process2 img{
    width: 40%;
    float: right;
    padding: 10px;
}
          
.process3 img{
    width: 40%;
    float: left;
    padding: 10px;
}
    
.process4 img{
    width: 40%;
    float: right;
    padding: 10px;
}    

.process5 img{
    width: 40%;
    float: left;
    padding: 10px;
}
    
.process6 img{
    width: 40%;
    float: right;
    padding: 10px;
} 
    
.process6 {
    margin-bottom: 120px;
}
    
    
/*----------------------------------------------------------------------------------- REQUEST A QUOTE ----*/
.request p{
    color: #FAD239;
    padding-left: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    color: #ffffff;
}
    
.request {    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
} 

    
/*------------------------------------------------------------------------------------------- ABOUT ME ---*/
.aboutme {
    margin: 50px;
}    
    
.aboutme p{
    position: relative;
    color: white;
    font-size: 1em;
    width: 55%;
    float: left;
}  
    
.aboutme img{
    width: 30%;
    padding-left: 20px;
}
    
    
    
 /*----------------------------------------------------------------------------------- THANK YOU --------*/
.thanks h3 {
    text-align: center;
    font-size: 1em;
    color: #FAD239;
    margin: 80px;
}   
   
    
/*------------------------------------------------------------------------------------------PORTFOLIO-----*/
.grid-container {
  display: inline-grid;
  grid-gap: 1px;
  grid-template-columns: auto auto;
}

.portfolioparagraph {
    color: #FFFFFF;
    font-size: 1.3em;
    text-align: center;
} 


.portfolioparagraph a{
    color: #FFFFFF;
    text-decoration: none;
}

/*----------------------------------------------------------------------------------PRIVACY PRACTICES-----*/ 
.privacy p {
  font-family: 'Avenir', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  padding: 5px 20px 5px 40px;
}

.privacy {
   margin-bottom: 30px;
}

    
   
    
    
    
    
    
}   
    
    
    
    
    
    
    
    
    
    
    
}