html {
    width: auto;
    margin: 0 auto;
    overflow: hidden;             
    background-color: #52471b; 
    align-content: center;   
  }

.brownbox {
    height: 65px;
    background-color: #52471b;
    margin: 0%;
}
.yellowbox {
    height: 85px;
    background-color: #f2cc10;
    margin: 0%;
}
.lightbrownbox {
    height: 40px;
    background-color: #87752d;
    margin: 0%;
}
.lightyellowbox {
    height: 698px;
    background-color: #f8ffb0;
    margin: 0%;
}

  
body {
    height: 50px;
    background-color: #52471b;   
    font-family: Arial, Helvetica, sans-serif;
  }

header img {
box-align: center;

    margin-top: -100px;
    width: auto;
    height: 100px;
    padding: 10px;
}
  
nav {
    height: 20px;
    background-color: #87752d;  
    text-decoration: none;
    color: #f8ffb0;
    font-size: 1em;
  }
  
main img{
    background-color: #f8ffb0;   
    display: inline;
    flex: 25%;
    width: 200px;
    height: 300px;
    padding: 5px;
  }  

nav li{
	width: 220px;
	padding: 6px;
	padding-left: 30px;
	margin-bottom: 7px;
    margin-left: -8px;
    display: inline;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Baskerville', serif;
    font-size: 10px;
    
}

img{
    width: 200px;
}

figcaption{
    color: #52471b;
    font-size: 1.5em;
    align-content: center;
}

#quote{
    color: 52471b;
    font-size: 2em;
    font-style: italic;
    align-content: center;
}